.welcome_services_wrapper {
    position: relative;
}


/* Phone version */
@media (min-width: 0px) and (max-width: 576px) {
    .welcome_services_wrapper {
        top: 30px;
        left: 0;
    }
}

/* Fabled version */
@media (min-width: 576px) and (max-width: 1630px) {
    .welcome_services_wrapper {
        top: 60px;
        left: 0;
    }
}

/* PC version */
@media (min-width: 1630px) {
    .welcome_services_wrapper {
        top: 100px;
        left: 0;
    }
}
